﻿<div style="width: 100%;">
    @foreach (var color in MatThemeColors.Items.Values)
    {
        <div>
            @foreach (var shadow in color.Shadows.Values)
            {
                <div class="demo-mat-blazor-theme-color-item @(Value == shadow.Value ? "mat-elevation-z10" : "")" style="background: @(shadow.Value)" @onclick="(_ => Value = shadow.Value)">
                    @if (Value == shadow.Value)
                    {
                        <RadzenIcon Style="padding-top: 10px;" Icon="check_circle" />
                    }
                </div>
            }
        </div>
    }
</div>

@code
{

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (value == _value)
            {
                return;
            }
            _value = value;
            this.StateHasChanged();
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private string _value;
}