﻿@using System.Timers;
@implements IDisposable

<div class="animatedBackground" style="background-color: @_colorValue;"></div>


@code {

    [Parameter]
    public string ColorValue { get => _colorValue; set => _colorValue = value; }

    [Parameter]
    public List<string> ColorValueList { get; set; }

    [Parameter]
    public int NumColors { get; set; } = 3;

    private string _colorValue;

    private int _colorIndex;

    private Timer _timer = new System.Timers.Timer();

    protected override void OnInitialized()
    {

    }

    protected override void OnParametersSet()
    {
        if (ColorValueList?.Count > 0)
        {
            PulseBetweenListColors();
        }
    }

    void PulseBetweenListColors()
    {
        // Start with first selected color value;
        if(string.IsNullOrEmpty(_colorValue))
        {
            _colorValue = ColorValueList[0];
        }

        if (!_timer.Enabled)
        {
            _timer.Interval = 3000;
            _timer.Elapsed += TransitionToNextColor;
            _timer.Start();
        }

    }

    void TransitionToNextColor(Object source, ElapsedEventArgs e)
    {
        _colorValue = ColorValueList[_colorIndex % ColorValueList.Count];
        _colorIndex++;
        StateHasChanged();
    }

    public void Dispose()
    {
        _timer.Stop();
        _timer.Dispose();
    }

}
