/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-li9i52uw8t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-li9i52uw8t] {
    flex: 1;
}

.sidebar[b-li9i52uw8t] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-li9i52uw8t] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-li9i52uw8t]  a, .top-row .btn-link[b-li9i52uw8t] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-li9i52uw8t] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-li9i52uw8t] {
        display: none;
    }

    .top-row.auth[b-li9i52uw8t] {
        justify-content: space-between;
    }

    .top-row a[b-li9i52uw8t], .top-row .btn-link[b-li9i52uw8t] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-li9i52uw8t] {
        flex-direction: row;
    }

    .sidebar[b-li9i52uw8t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-li9i52uw8t] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-li9i52uw8t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9kfcnixuqw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9kfcnixuqw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9kfcnixuqw] {
    font-size: 1.1rem;
}

.oi[b-9kfcnixuqw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9kfcnixuqw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9kfcnixuqw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9kfcnixuqw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9kfcnixuqw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9kfcnixuqw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9kfcnixuqw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9kfcnixuqw] {
        display: none;
    }

    .collapse[b-9kfcnixuqw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
