﻿@page "/"
@using REDVR_RC.Client.Components

<h1>Pick a Color!</h1>

<MatThemeProvider Theme="@theme1">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell">
                @if (IsConnected)
                {
                    <ColorSelector @bind-Value="@Color"></ColorSelector>
                }
            </div>

        </div>
    </div>


    @if (colorValues.Count > 0)
    {
        <ColorBackground ColorValue="@colorValues[colorValues.Count - 1]"></ColorBackground>
    }
    else
    {
        <div style="padding: 16px 8px 16px; margin: 16px; background-color: @theme1.Primary; ">
            <MatHeadline6> Select A Color! </MatHeadline6>
        </div>
    }

</MatThemeProvider>


<EventConsole @ref=@console />

@code {
    string text = "Hi";
    EventConsole console;
    string color = "rgb(68, 58, 110)";
    bool showHSV = true;
    bool showRGBA = true;
    bool showColors = true;
    bool showButton = false;

    void OnChange(string value)
    {
        console.Log($"Value changed to: {value}");
    }
}
